<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action='' Method="Post">
        <div class="Login-form">
			<form class="A1">
                <h1><b>Sign In</b></h1>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="Username" id='Username' name="Username" class="form-control item" placeholder="Username" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="password" id="cpass" name="cpass" class="form-control item" placeholder="Confirm Password" required>
            </div>
        </div>
    </div>
    <input type="submit" value="Login">
    <div class="form-group">
        <a href="register.html" class="text-center" ><h4 id="A3"><b>Don't have an account</b></h4></a>
    </div>
    </form>
</body>
</html>